<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="fileLogger" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} 
Level:			        ${uppercase:${level}} ${newline}
Message:			      ${message}${newline}
Exception:			    ${exception}${newline}
HostName:			      ${event-properties:item=Event-HostName}${newline}
ProcessName:		    ${event-properties:item=Event-ProcessName}${newline}
ProcessId:          ${event-properties:item=Event-ProcessId}${newline}
ThreadName:			    ${event-properties:item=Event-ThreadName}${newline}
ThreadId:			      ${event-properties:item=Event-ThreadId}${newline}
CustomProperties:		${newline}	${event-properties:item=Event-CustomProps}${newline}
${onexception:Exception:          ${exception:format=tostring}}
			" />
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
    layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Yellow" backgroundColor="Red" />
    </target>

  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileLogger" />
    <logger name="*" minlevel="Debug" writeTo="coloredConsole" />
  </rules>
</nlog>