<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="File" type="log4net.Appender.FileAppender">
      <file value="Medseek.Util.Logging.Log4Net.log" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-4thread, %-5level] %logger: %message%newline%exception" />
      </layout>
    </appender>
    <appender name="Trace" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-4thread, %5level] %logger: %message%newline%exception" />
      </layout>
    </appender>
    <appender name="Console" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-4thread, %5level] %logger: %message%newline%exception" />
      </layout>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <backColor value="Red" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
    </appender>
    <root>
      <appender-ref ref="File" />
      <appender-ref ref="Trace" />
      <appender-ref ref="Console" />
      <level value="DEBUG" />
    </root>
    <logger name="Medseek.Util.Logging.Log4Net">
      <level value="INFO" />
    </logger>
  </log4net>
</configuration>